*{
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: yellowgreen;
    font-family:cursive
}
#txt1{
    text-align: center;
    justify-content: space-between;
    color: white;
    font-size: 40px;
}

.navbar #subdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar #subdiv a {
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    transition: 0.3s;
    font-size: 20px;
}

.navbar #subdiv a:hover {
    background-color: white;
    border-radius: 5px;
    color: green;
}
.pincode{
    width: 100%;
    height: 100px;
    background-color: beige;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* margin: auto; */
}
input{
    width: 50%;
    height: 70px;
    margin-left: 430px;
    text-align: center;
    font-size: 18px;
    outline: none;
}
#container{
    width: 55%;
    height: auto;
    background-color: beige;
}
.sec-container{
    width: 30%;
    height: 450px;
    background-color: beige;
    /* text-align: center; */
}
.main{
    display: flex;
    justify-content: space-evenly;
    
}
#listmain{
    display: flex;
    justify-content: space-around;
}
#listmain li{
    list-style: none;
    line-height: 3rem;
    margin-left: 20px;
    font-size: 19px;
}
.main1{
    height: 20px;
    background-color: white;
}
#imgcontainer{
    display: flex;
    line-height: 3rem;
    justify-content: space-evenly;
}
#image img{
    margin-left: 150px;
    width: 200px;
    height: 200px;
}
#details{
    margin:auto;
    /* font-size: 28px;  */
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#originalPrice del{
    color: grey;
    font-family:Arial, Helvetica, sans-serif;
}
#originalPrice{
    font-size: 24px;
    color:black;

}

#title{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#price{
    font-size: 24px;
    color: black;
    
}
#offer{
    font-size:30px;
}
#totamt{
    display: flex;
    justify-content: space-around;
}
#btn{
    margin-left: 400px;
    margin-bottom: 20px;
    width: 150px;
    height: 35px;
    background-color: orange;
    border: none;
    color: white;
}
.bttn{
    margin-top: 30px;
    margin-left: 183px;

}
.bttn button{
    width: 160px;
    height: 50px;
    background-color: orange;
    border: none;
    color: white;
}
#add{
    font-size:20px;
}