*{
    margin: 0;
}

.navbar{
    width: 100%;
    height: 6rem;
    background-color: yellowgreen;
}
.subdiv a{
    color: white;
    margin-left: 65px;
    padding-left: 90px;
    font-size: 18px;
    text-decoration: none;
    font-family:cursive;
    margin-bottom: 15px;
}
input{
    margin-left: 100px;
    text-align: center;
    height: 20px;
    width: 250px;
}
.subdiv h2{
    color:white;
    text-align: center;
    font-size: 32px;
    font-family: cursive;

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards{
    width: 14rem;
    height: 24rem;
    border: 5px solid yellowgreen;
    margin-top: 2rem;
    margin: 20px;
    border-radius: 40px;
    object-fit: cover;
    background-position: center;
}
.image{
    width: 100%;
    height: 60%;

}
.image img{
    width: 100%;
}
a{
    text-decoration: none;
    color:black;
    font-size: 15px;
    text-align: center;
}
.details{
    width: 100%;
    height:40%;
}
.brand{
    color: red;
}
.offer{
    color: green;
    font-size: 18px;
}
button{
    background: yellowgreen;
    color: white;
    border: none;
    width: 100%;
    height: 28px;
}
.cards:hover{
border: 10px solid yellowgreen;
width: 260px;
transition: 0.5s;
height: 25rem;

}



