*{
    margin: 0;
}
body{
    background-image: url(https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28313.jpg?w=1380&t=st=1725643382~exp=1725643982~hmac=c0bbc10460ff554e4626f090fc9ce6fd9c40cf2b5bf253bf8d6dee2096ccc88f);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    width: 100%;
    height: 5rem;
    background-color: black;
}
.subdiv a{
    color: yellowgreen;
    margin-left: 100px;
    padding-left: 75px;
}
.subdiv h2{
    color: yellowgreen;
    text-align: center;
    font-size: 32px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards{
    width: 14rem;
    height: 24rem;
    border: 1px solid yellowgreen;
    margin-top: 2rem;
    margin: 20px;
}
.image{
    width: 100%;
    height: 60%;
    /* background-color: blanchedalmond; */
}
.image img{
    width: 100%;

}
a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    text-align: center;
}
.details{
    width: 100%;
    height:40%;
}
.brand{
    color: red;
}
.offer{
    color: green;
    font-size: 18px;
}
button{
    background: yellowgreen;
    color: white;
    border: none;
    width: 100%;
    height: 28px;
}
.cards:hover{
border: 10px solid yellowgreen;
width: 240px;

}

