*{
    margin: 0;
}
.navbar{
    width: 100%;
    height: 5rem;
    background-color: black;
}
.subdiv{
    color: white;
    word-spacing: 3rem;
    text-align: center;
}
.subdiv h2{
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards{
    width: 14rem;
    height: 24rem;
    border: 1px solid black;
    margin-top: 2rem;
    margin: 20px;
}
.image{
    width: 100%;
    height: 60%;
    /* background-color: blanchedalmond; */
}
.image img{
    width: 100%;

}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-align: center;
}
.details{
    width: 100%;
    height:40%;
}
.brand{
    color: red;
}
.offer{
    color: green;
    font-size: 18px;
}
button{
    background: yellowgreen;
    color: white;
    border: none;
    width: 100%;
    height: 28px;
}

